@import "ress";

:root {
  --background: #fff;
  --foreground: #3f444f;
}

[data-theme="dark"] {
  --background: #3f444f;
  --foreground: #fff;
}

html {
  @media (width < 768px) {
    font-size: 56.25%;
  }
  @media (width >= 768px) {
    font-size: 62.5%;
  }
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

article,
footer,
header,
main,
section {
  container-type: inline-size;
}

button {
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

canvas,
img,
picture,
svg,
video {
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
  height: auto;
  max-width: 100%;
  pointer-events: none;
  shape-margin: 1rem;
  vertical-align: middle;
}

figcaption,
li,
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

input,
textarea {
  min-width: 0;
}

ol,
ul {
  list-style: none;
}

[data-theme="dark"] .w-color-sketch {
  --sketch-background: #323232 !important;
}

[data-theme="dark"] .w-color-swatch {
  --sketch-swatch-border-top: 1px solid #525252 !important;
}

[data-theme="dark"] .w-color-block {
  --block-background-color: #323232 !important;
  --block-box-shadow: rgb(0 0 0 / 10%) 0 1px !important;
}

[data-theme="dark"] .w-color-editable-input {
  --editable-input-label-color: #757575 !important;
  --editable-input-box-shadow: #616161 0px 0px 0px 1px inset !important;
  --editable-input-color: #bbb !important;
}

[data-theme="dark"] .w-color-github {
  --github-border: 1px solid rgb(0 0 0 / 0.2) !important;
  --github-background-color: #323232 !important;
  --github-box-shadow: rgb(0 0 0 / 15%) 0px 3px 12px !important;
  --github-arrow-border-color: rgb(0 0 0 / 0.15) !important;
}

[data-theme="dark"] .w-color-compact {
  --compact-background-color: #323232 !important;
}

[data-theme="dark"] .w-color-material {
  --material-background-color: #323232 !important;
  --material-border-bottom-color: #707070 !important;
}

[data-theme="dark"] .w-color-alpha {
  --alpha-pointer-background-color: #6a6a6a !important;
  --alpha-pointer-box-shadow: rgb(0 0 0 / 37%) 0px 1px 4px 0px !important;
}
